In [198]:
import pandas as pd
import json
import numpy as np

In [199]:
with open('./lines.json') as f:
    data = json.load(f)
    
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.index = np.arange(1, len(df_match)+1)
df_match.head(5)

,team1,team2,winner,margin,ground,matchDate,scorecard
1,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
2,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
3,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
4,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
5,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

In [200]:
df_match.rename({'scorecard':'match_id'}, axis = 1, inplace = True)
df_match.head(5)

,team1,team2,winner,margin,ground,matchDate,match_id
1,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
2,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
3,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
4,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
5,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

In [201]:
df_match.to_csv('./Preprocessed Data/match_summary.csv', index=False)

In [202]:
match_id_dict = {}

for index, row in  df_match.iterrows():
    
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    
    match_id_dict[key1] = row['match_id']
    match_id_dict[key2] = row['match_id']

In [203]:
# match_id_dict

In [204]:
df_batting = pd.read_excel('./Final Data/Book2.xlsx')
df_batting

,Sr. No.,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,1,India Vs Australia,India,1,Rohit Sharma(c),c Head b Maxwell,47,31,4,3,151.61
1,2,India Vs Australia,India,2,Shubman Gill,c Zampa b Starc,4,7,0,0,57.14
2,3,India Vs Australia,India,3,Virat Kohli,b Cummins,54,63,4,0,85.71
3,4,India Vs Australia,India,4,Shreyas Iyer,c â€ Inglis b Cummins,4,3,1,0,133.33
4,5,India Vs Australia,India,5,KL Rahulâ€,c â€ Inglis b Starc,66,107,1,0,61.68
...,...,...,...,...,...,...,...,...,...,...,...
871,872,Afghanistan Vs Australia,Australia,5,Josh Inglisâ€,c Ibrahim Zadran b Azmatullah Omarzai,0,1,0,0,0
872,873,Afghanistan Vs Australia,Australia,6,Glenn Maxwell,NaN,201,128,21,10,157.03
873,874,Afghanistan Vs Australia,Australia,7,Marcus Stoinis,lbw b Rashid Khan,6,7,1,0,85.71
874,875,Afghanistan Vs Australia,Australia,8,Mitchell Starc,c â€ Ikram Alikhil b Rashid Khan,3,7,0,0,42.85
875,876,Afghanistan Vs Australia,Australia,9,Pat Cummins(c),NaN,12,68,1,0,17.64

In [206]:
df_batting.drop(columns='Sr. No.')

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,India Vs Australia,India,1,Rohit Sharma(c),c Head b Maxwell,47,31,4,3,151.61
1,India Vs Australia,India,2,Shubman Gill,c Zampa b Starc,4,7,0,0,57.14
2,India Vs Australia,India,3,Virat Kohli,b Cummins,54,63,4,0,85.71
3,India Vs Australia,India,4,Shreyas Iyer,c â€ Inglis b Cummins,4,3,1,0,133.33
4,India Vs Australia,India,5,KL Rahulâ€,c â€ Inglis b Starc,66,107,1,0,61.68
...,...,...,...,...,...,...,...,...,...,...
871,Afghanistan Vs Australia,Australia,5,Josh Inglisâ€,c Ibrahim Zadran b Azmatullah Omarzai,0,1,0,0,0
872,Afghanistan Vs Australia,Australia,6,Glenn Maxwell,NaN,201,128,21,10,157.03
873,Afghanistan Vs Australia,Australia,7,Marcus Stoinis,lbw b Rashid Khan,6,7,1,0,85.71
874,Afghanistan Vs Australia,Australia,8,Mitchell Starc,c â€ Ikram Alikhil b Rashid Khan,3,7,0,0,42.85
875,Afghanistan Vs Australia,Australia,9,Pat Cummins(c),NaN,12,68,1,0,17.64

In [207]:
for i in range(0,876):
    text = str(df_batting.match[i])
    text = text.strip()
    df_batting.match[i] = text

<ipython-input-207-da27a2a96987>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_batting.match[i] = text

In [208]:
df_batting['dismissal'] = df_batting['dismissal'].fillna('')
df_batting

,Sr. No.,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,1,India Vs Australia,India,1,Rohit Sharma(c),c Head b Maxwell,47,31,4,3,151.61
1,2,India Vs Australia,India,2,Shubman Gill,c Zampa b Starc,4,7,0,0,57.14
2,3,India Vs Australia,India,3,Virat Kohli,b Cummins,54,63,4,0,85.71
3,4,India Vs Australia,India,4,Shreyas Iyer,c â€ Inglis b Cummins,4,3,1,0,133.33
4,5,India Vs Australia,India,5,KL Rahulâ€,c â€ Inglis b Starc,66,107,1,0,61.68
...,...,...,...,...,...,...,...,...,...,...,...
871,872,Afghanistan Vs Australia,Australia,5,Josh Inglisâ€,c Ibrahim Zadran b Azmatullah Omarzai,0,1,0,0,0
872,873,Afghanistan Vs Australia,Australia,6,Glenn Maxwell,,201,128,21,10,157.03
873,874,Afghanistan Vs Australia,Australia,7,Marcus Stoinis,lbw b Rashid Khan,6,7,1,0,85.71
874,875,Afghanistan Vs Australia,Australia,8,Mitchell Starc,c â€ Ikram Alikhil b Rashid Khan,3,7,0,0,42.85
875,876,Afghanistan Vs Australia,Australia,9,Pat Cummins(c),,12,68,1,0,17.64

In [209]:
# df_batting.dismissal.isna().sum()
df_batting['out/not_out'] = df_batting.dismissal.apply(lambda x: "out" if len(x)>0 else "not_out")
df_batting

,Sr. No.,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,1,India Vs Australia,India,1,Rohit Sharma(c),c Head b Maxwell,47,31,4,3,151.61,out
1,2,India Vs Australia,India,2,Shubman Gill,c Zampa b Starc,4,7,0,0,57.14,out
2,3,India Vs Australia,India,3,Virat Kohli,b Cummins,54,63,4,0,85.71,out
3,4,India Vs Australia,India,4,Shreyas Iyer,c â€ Inglis b Cummins,4,3,1,0,133.33,out
4,5,India Vs Australia,India,5,KL Rahulâ€,c â€ Inglis b Starc,66,107,1,0,61.68,out
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,Afghanistan Vs Australia,Australia,5,Josh Inglisâ€,c Ibrahim Zadran b Azmatullah Omarzai,0,1,0,0,0,out
872,873,Afghanistan Vs Australia,Australia,6,Glenn Maxwell,,201,128,21,10,157.03,not_out
873,874,Afghanistan Vs Australia,Australia,7,Marcus Stoinis,lbw b Rashid Khan,6,7,1,0,85.71,out
874,875,Afghanistan Vs Australia,Australia,8,Mitchell Starc,c â€ Ikram Alikhil b Rashid Khan,3,7,0,0,42.85,out
875,876,Afghanistan Vs Australia,Australia,9,Pat Cummins(c),,12,68,1,0,17.64,not_out

In [210]:
df_batting['match_id'] = df_batting['match'].map(match_id_dict)
df_batting

,Sr. No.,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out,match_id
0,1,India Vs Australia,India,1,Rohit Sharma(c),c Head b Maxwell,47,31,4,3,151.61,out,ODI # 4662
1,2,India Vs Australia,India,2,Shubman Gill,c Zampa b Starc,4,7,0,0,57.14,out,ODI # 4662
2,3,India Vs Australia,India,3,Virat Kohli,b Cummins,54,63,4,0,85.71,out,ODI # 4662
3,4,India Vs Australia,India,4,Shreyas Iyer,c â€ Inglis b Cummins,4,3,1,0,133.33,out,ODI # 4662
4,5,India Vs Australia,India,5,KL Rahulâ€,c â€ Inglis b Starc,66,107,1,0,61.68,out,ODI # 4662
...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,Afghanistan Vs Australia,Australia,5,Josh Inglisâ€,c Ibrahim Zadran b Azmatullah Omarzai,0,1,0,0,0,out,ODI # 4696
872,873,Afghanistan Vs Australia,Australia,6,Glenn Maxwell,,201,128,21,10,157.03,not_out,ODI # 4696
873,874,Afghanistan Vs Australia,Australia,7,Marcus Stoinis,lbw b Rashid Khan,6,7,1,0,85.71,out,ODI # 4696
874,875,Afghanistan Vs Australia,Australia,8,Mitchell Starc,c â€ Ikram Alikhil b Rashid Khan,3,7,0,0,42.85,out,ODI # 4696
875,876,Afghanistan Vs Australia,Australia,9,Pat Cummins(c),,12,68,1,0,17.64,not_out,ODI # 4696

In [211]:
# nan_value = df_batting['match_id'].isna().sum()
# nan_value
df_batting.drop(columns=['dismissal'], inplace=True)
df_batting

,Sr. No.,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,1,India Vs Australia,India,1,Rohit Sharma(c),47,31,4,3,151.61,out,ODI # 4662
1,2,India Vs Australia,India,2,Shubman Gill,4,7,0,0,57.14,out,ODI # 4662
2,3,India Vs Australia,India,3,Virat Kohli,54,63,4,0,85.71,out,ODI # 4662
3,4,India Vs Australia,India,4,Shreyas Iyer,4,3,1,0,133.33,out,ODI # 4662
4,5,India Vs Australia,India,5,KL Rahulâ€,66,107,1,0,61.68,out,ODI # 4662
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,Afghanistan Vs Australia,Australia,5,Josh Inglisâ€,0,1,0,0,0,out,ODI # 4696
872,873,Afghanistan Vs Australia,Australia,6,Glenn Maxwell,201,128,21,10,157.03,not_out,ODI # 4696
873,874,Afghanistan Vs Australia,Australia,7,Marcus Stoinis,6,7,1,0,85.71,out,ODI # 4696
874,875,Afghanistan Vs Australia,Australia,8,Mitchell Starc,3,7,0,0,42.85,out,ODI # 4696
875,876,Afghanistan Vs Australia,Australia,9,Pat Cummins(c),12,68,1,0,17.64,not_out,ODI # 4696

In [213]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('(c)', ''))
df_batting

,Sr. No.,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,1,India Vs Australia,India,1,Rohit Sharma,47,31,4,3,151.61,out,ODI # 4662
1,2,India Vs Australia,India,2,Shubman Gill,4,7,0,0,57.14,out,ODI # 4662
2,3,India Vs Australia,India,3,Virat Kohli,54,63,4,0,85.71,out,ODI # 4662
3,4,India Vs Australia,India,4,Shreyas Iyer,4,3,1,0,133.33,out,ODI # 4662
4,5,India Vs Australia,India,5,KL Rahul,66,107,1,0,61.68,out,ODI # 4662
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,Afghanistan Vs Australia,Australia,5,Josh Inglis,0,1,0,0,0,out,ODI # 4696
872,873,Afghanistan Vs Australia,Australia,6,Glenn Maxwell,201,128,21,10,157.03,not_out,ODI # 4696
873,874,Afghanistan Vs Australia,Australia,7,Marcus Stoinis,6,7,1,0,85.71,out,ODI # 4696
874,875,Afghanistan Vs Australia,Australia,8,Mitchell Starc,3,7,0,0,42.85,out,ODI # 4696
875,876,Afghanistan Vs Australia,Australia,9,Pat Cummins,12,68,1,0,17.64,not_out,ODI # 4696

In [214]:
df_batting.to_csv('./Preprocessed Data/batting_summary.csv', index=False)

In [215]:
df_bowling = pd.read_excel('./Final Data/Book3.xlsx')
df_bowling

,Sr. No.,match,match.1,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,1,India Vs Australia,Australia,Mitchell Starc,10.0,0,55,3,5.50,30,4,1,3,0
1,2,India Vs Australia,Australia,Josh Hazlewood,10.0,0,60,2,6.00,22,4,1,1,0
2,3,India Vs Australia,Australia,Glenn Maxwell,6.0,0,35,1,5.83,19,4,1,0,0
3,4,India Vs Australia,Australia,Pat Cummins,10.0,0,34,2,3.40,30,0,0,2,0
4,5,India Vs Australia,Australia,Adam Zampa,10.0,0,44,1,4.40,22,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,570,Afghanistan Vs Australia,Afghanistan,Naveen-ul-Haq,9.0,0,47,2,5.22,34,5,2,1,0
570,571,Afghanistan Vs Australia,Afghanistan,Azmatullah Omarzai,7.0,1,52,2,7.42,25,7,2,1,0
571,572,Afghanistan Vs Australia,Afghanistan,Rashid Khan,10.0,0,44,2,4.40,36,3,1,3,0
572,573,Afghanistan Vs Australia,Afghanistan,Noor Ahmad,10.0,1,53,0,5.30,36,4,2,1,0
573,574,Afghanistan Vs Australia,Afghanistan,Mohammad Nabi,2.0,0,20,0,10.00,6,3,1,0,0

In [216]:
df_bowling = df_bowling.rename(columns={'match.1':'team'})

In [217]:
for i in range(0,574):
    text = str(df_bowling.match[i])
    text = text.strip()
    df_bowling.match[i] = text

<ipython-input-217-af76eed49f1f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bowling.match[i] = text

In [218]:
df_bowling['match_id'] = df_bowling['match'].map(match_id_dict)
df_bowling

,Sr. No.,match,team,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,1,India Vs Australia,Australia,Mitchell Starc,10.0,0,55,3,5.50,30,4,1,3,0,ODI # 4662
1,2,India Vs Australia,Australia,Josh Hazlewood,10.0,0,60,2,6.00,22,4,1,1,0,ODI # 4662
2,3,India Vs Australia,Australia,Glenn Maxwell,6.0,0,35,1,5.83,19,4,1,0,0,ODI # 4662
3,4,India Vs Australia,Australia,Pat Cummins,10.0,0,34,2,3.40,30,0,0,2,0,ODI # 4662
4,5,India Vs Australia,Australia,Adam Zampa,10.0,0,44,1,4.40,22,1,0,1,0,ODI # 4662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,570,Afghanistan Vs Australia,Afghanistan,Naveen-ul-Haq,9.0,0,47,2,5.22,34,5,2,1,0,ODI # 4696
570,571,Afghanistan Vs Australia,Afghanistan,Azmatullah Omarzai,7.0,1,52,2,7.42,25,7,2,1,0,ODI # 4696
571,572,Afghanistan Vs Australia,Afghanistan,Rashid Khan,10.0,0,44,2,4.40,36,3,1,3,0,ODI # 4696
572,573,Afghanistan Vs Australia,Afghanistan,Noor Ahmad,10.0,1,53,0,5.30,36,4,2,1,0,ODI # 4696
573,574,Afghanistan Vs Australia,Afghanistan,Mohammad Nabi,2.0,0,20,0,10.00,6,3,1,0,0,ODI # 4696

In [219]:
df_bowling.to_csv('./Preprocessed Data/bowling_summary.csv', index=False)

In [220]:
df_players = pd.read_csv('./Final Data/players_data.csv')
df_players

,Unnamed: 0,name,team,battingStyle,bowlingStyle,playingRole,description
0,0,Shubman Gill,India,Right hand Bat,Right arm Offbreak,Opening Batter,"A right-hand top-order batsman from Punjab, Sh..."
1,1,Mitchell Starc,Australia,Left hand Bat,Left arm Fast,Bowler,"First there was Johnson, then there was Starc...."
2,2,Kusal Mendis,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."
3,3,Charith Asalanka,Sri Lanka,Left hand Bat,Right arm Offbreak,Batting Allrounder,NaN
4,4,Dhananjaya de Silva,Sri Lanka,Right hand Bat,Right arm Offbreak,Allrounder,A technically correct top-order batsman from t...
...,...,...,...,...,...,...,...
102,118,Nasum Ahmed,Bangladesh,Left hand Bat,Slow Left arm Orthodox,Bowler,NaN
103,119,Mahedi Hasan,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,By the time Mahedi Hasan earned his maiden ODI...
104,120,Taskin Ahmed,Bangladesh,Left hand Bat,Right arm Fast,Bowler,Even before he was anywhere near making his in...
105,122,Pathum Nissanka,Sri Lanka,Right hand Bat,NaN,Top order Batter,NaN
106,123,Dimuth Karunaratne,Sri Lanka,Left hand Bat,Right arm Medium,Opening Batter,Dimuth Karunaratne is a solid left-hand openin...

In [221]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players

,Unnamed: 0,name,team,battingStyle,bowlingStyle,playingRole,description
0,0,Shubman Gill,India,Right hand Bat,Right arm Offbreak,Opening Batter,"A right-hand top-order batsman from Punjab, Sh..."
1,1,Mitchell Starc,Australia,Left hand Bat,Left arm Fast,Bowler,"First there was Johnson, then there was Starc...."
2,2,Kusal Mendis,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."
3,3,Charith Asalanka,Sri Lanka,Left hand Bat,Right arm Offbreak,Batting Allrounder,NaN
4,4,Dhananjaya de Silva,Sri Lanka,Right hand Bat,Right arm Offbreak,Allrounder,A technically correct top-order batsman from t...
...,...,...,...,...,...,...,...
102,118,Nasum Ahmed,Bangladesh,Left hand Bat,Slow Left arm Orthodox,Bowler,NaN
103,119,Mahedi Hasan,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,By the time Mahedi Hasan earned his maiden ODI...
104,120,Taskin Ahmed,Bangladesh,Left hand Bat,Right arm Fast,Bowler,Even before he was anywhere near making his in...
105,122,Pathum Nissanka,Sri Lanka,Right hand Bat,NaN,Top order Batter,NaN
106,123,Dimuth Karunaratne,Sri Lanka,Left hand Bat,Right arm Medium,Opening Batter,Dimuth Karunaratne is a solid left-hand openin...

In [222]:
df_players.drop(columns='Unnamed: 0')

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Shubman Gill,India,Right hand Bat,Right arm Offbreak,Opening Batter,"A right-hand top-order batsman from Punjab, Sh..."
1,Mitchell Starc,Australia,Left hand Bat,Left arm Fast,Bowler,"First there was Johnson, then there was Starc...."
2,Kusal Mendis,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."
3,Charith Asalanka,Sri Lanka,Left hand Bat,Right arm Offbreak,Batting Allrounder,NaN
4,Dhananjaya de Silva,Sri Lanka,Right hand Bat,Right arm Offbreak,Allrounder,A technically correct top-order batsman from t...
...,...,...,...,...,...,...
102,Nasum Ahmed,Bangladesh,Left hand Bat,Slow Left arm Orthodox,Bowler,NaN
103,Mahedi Hasan,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,By the time Mahedi Hasan earned his maiden ODI...
104,Taskin Ahmed,Bangladesh,Left hand Bat,Right arm Fast,Bowler,Even before he was anywhere near making his in...
105,Pathum Nissanka,Sri Lanka,Right hand Bat,NaN,Top order Batter,NaN
106,Dimuth Karunaratne,Sri Lanka,Left hand Bat,Right arm Medium,Opening Batter,Dimuth Karunaratne is a solid left-hand openin...

In [223]:
df_players.to_csv('./Preprocessed Data/players_data.csv', index=False)